#historique {
    border-bottom: 0px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;  
    margin-top: 5vh;
}

thead {
    height: 8vh;
    background-color: rgb(150, 150, 150);
}

caption {
    width: 100%;
    height: 5vh;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    top: 3vh;
    padding-top: 1.2vh;
    background-color: rgb(150, 150, 150);
    box-sizing: border-box;
    position: fixed;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
    font-size: 1vw;   
}

.date_action {
    background-color: rgb(180, 180, 180);
}

button {
    position: fixed;
    height: 7vh;
    width: 12vw;
    bottom: 2vh;
    right: 2vh;
    text-align: center;
    font-size: 1.2vw;
    border: 3px solid black;
    border-radius: 2vh;
    box-sizing: border-box;
    background-color: rgb(150, 150, 150);
}
button:hover {
    background-color: rgb(190, 190, 190);
    cursor: pointer;
}