#traçabilité {
    border-bottom: 0px;
}
#container1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    background-color: rgb(150, 150, 150);
    justify-content: flex-start;
    align-items: center;
}

#container1 select {
    margin-left: 1vw;
    font-size: 1vw;
    width: 20vw;
    height: 4vh;
    resize: none;
    background-color: rgb(200,200,200);
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-radius: 0.5vh;
}
#container1 input[type="button"]{
    margin-left: 1vw;
    width: 10vw;
    height: 4vh;
    border-radius: 1vh;
    font-size: 1.2vw;
    background-color: rgb(200,200,200);
    border: 0.3vh solid rgb(100,100,100);
    border-color: rgb(140,140,140) rgb(100,100,100) rgb(100,100,100) rgb(140,140,140);
}
#container1 input[type="button"]:hover{
    cursor: pointer;
}
#container1 input[type="button"]:active{
    border: 0.3 solid rgb(100,100,100);
    border-color: rgb(100,100,100) rgb(140,140,140) rgb(140,140,140) rgb(100,100,100);
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;  
}

thead {
    height: 8vh;
    background-color: rgb(150, 150, 150);
}
tr {
    width: 100vw;
}
td, th {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
    font-size: 1vw;   
}
#col_1 {
    width: 8vh;
}
button {
    width: 3vh;
    height: 3vh;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 0;
}
button:hover {
    background-color: rgb(209, 209, 209);
}
.not_revealed img {
    position: relative;
    top: 0.2vh;
    width: 2vh;
    height: 1.2vh;
    rotate: 90deg;
}
.revealed img {
    position: relative;
    top: 0.2vh;
    width: 2vh;
    height: 1.2vh;
    rotate: 180deg;
}
.closed {
    display: none;
}
